body {
	font: 14px Arial, sans-serif;
	margin: 20px;
	background-color: #282c34;
	color: #FFF;
	text-align: center;

}

.logo-react {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 10s linear;
	height: 20vmin;
}

.container {
	width: 500px;
	margin: 0 auto;
	padding: 10px;
	box-shadow: 0 0 5px #ccc;
}

ol, ul {
	padding-left: 30px;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.status {
	margin-bottom: 10px;
}

.square {
	background: rgba(255,255,255, .1);
	color: #FFF;
	border: 1px solid #fff;
	float: left;
	font-size: 34px;
	line-height: 34px;
	height: 100px;
	width: 100px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: row;
}

.game-info {
	margin-left: 20px;
}

footer {
	color: #ccc;
	margin-top: 5px;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}